.about-hero{
    height: 50vh;
    background-image: url("/public/hero11-free-img.png") ;

    background-color: #f4f5f6;
}
.hero-text{
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4em;
    font-weight: 600;
    clear: both;

}
.bg-broucher{
    background-color: #ff5151;
}
.broucher-button{
    display: inline-block;
    line-height: 1;
    background-color: transparent;
    font-size: 1rem;
    padding: 18px 45px;
    border-radius: 3px;
    border:2px solid white !important;
    color: #fff;
    fill: #fff;
    text-align: center;
    transition: all .3s;
}
.broucher-button:hover{
    background-color: white;
    color:#ff5151
}