.bg-hero{
    background-image:  linear-gradient(140deg, #FFFFFF00 0%, #EBEDEFDE 100%);
    background-size:cover;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width:100%;
    margin: 0;
    padding: 0;
}
.hero-heading{
    font-weight: 700;
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4em;
    color:#415161;
}
.hero-para{
    font-size: 17px;
    font-size: 1.1333333333333rem;
    line-height: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color:  #415161;
}
.hero-btn{
    background-color: #ff5151;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 13px;
    padding-right: 40px;
    padding-bottom: 13px;
    padding-left: 40px;
    font-weight: 500;
    line-height: 1em;
    color: #ffffff;
}